* {
    margin: 0;
    padding: 0;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-image: url("../../assets/images/home-background.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}