#register-modal {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(255, 255, 129)
}

#header-register {
    width: 100%;
    display: flex;
}

#header-register h1 {
    margin-top: 0;
    width: 100%;
    text-align: center;
}

#section-register {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#footer-register{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 30px;
}

#bt-confirm, #bt-cancel {
    transition: all 0.2s;
}

#bt-confirm:hover, #bt-cancel:hover {
    -webkit-transform: scale(1.1);
}

#bt-cancel:hover {
    border-radius: 40px;
    text-decoration: underline;
    background-color: rgba(240, 248, 255, 0);
}