* {
    font-weight: 900;
}

#login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 30px 40px 30px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(rgb(255, 204, 19), rgb(255, 231, 20),rgb(255, 255, 21));
}

h1 {
    margin-top: 30px;
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
}

#bt-login, #bt-register, #bt-recover {
    transition: all 0.2s;
}

#bt-login:hover, #bt-register:hover, #bt-recover:hover {
    -webkit-transform: scale(1.1);
}

#bt-recover {
    font-size: 14px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#bt-recover:hover {
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}